{% extends "base.html" %}
{% load static %}
{% block title_block %}<title>Food</title>{% endblock %}
{% block body_block %}
    <h2>Food Calorie Calculator</h2>
    <h3>Find the nutrition fact of your favorite food!</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2" id="sidebar">
                <h3>Categories</h3>
                <ul>
                    <li {% if not fcategory %}class="selected"{% endif %}>
                            <a href="{% url healthbutler:food_list %}">All</a>
                    </li>
                    {% for c in fcategories %}
                        <li {% if fcategory.slug == c.slug %}class="selected"{% endif %}>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-10 product-list" id="main">
{#                <div class="container ">#}
             <br/>
                <h1>{% if fcategory %}{{ fcategory.name }}{% else %}Foods{% endif %}</h1>
                <h3><a href="http://127.0.0.1:8000/healthbutler/food">select the food from different categories</a> or <a href="http://127.0.0.1:8000/healthbutler/search">search for your favorite food</a></h3>
                {% for food in foods %}
                    <div class="item">
                        <a href="{{ food.get_absolute_url }}"> {{ food.name }}<br></a>
                        {{ food.calories }} calories/serving
                    </div>
                {% endfor %}
{#                </div>#}
            </div>
        </div>
    </div>
{#    <div id="sidebar">#}

{#    </div>#}




{% endblock %}

